.action-list {
  padding: 0 var(--content-gap);
}

.action-list .list-item {
  display: flex;
  text-decoration: none;
  color: var(--color-text);
  padding: 16px;
  margin-bottom: 8px;
  border-radius: 16px;
  background-color: var(--color-element-bg);

  justify-content: space-between;
  align-items: center;
}