.button {
  appearance: none;
  display: block;
  width: max-content;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(5, 89, 5);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
}

.button:hover {
  text-decoration: none;
  background-color: rgb(27, 135, 27);
}