.button {
  appearance: none;
  display: block;
  width: max-content;
  padding: 16px 24px;
  border: none;
  border-radius: 16px;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
}

.button.round {
  padding: 0;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  font-size: 32px;
  line-height: 0;
}

.button:hover {
  text-decoration: none;
  background-color: var(--color-primary-light);
}