html {
  font-family: 'Open Sans';
  font-size: 1rem;
}

body {
  max-width: 430px;
  margin: 0 auto;
  padding-top: 52px;
  background-color: var(--color-background);
  color: var(--color-text);
}

main h2 {
  font-size: 20px;
  padding: 0 var(--content-gap);
}