header {
  padding: 4px 12px;
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header sl-icon-button::part(base) {
  color: #fff;
  font-size: 28px;
  margin-left: -4px;
}

header sl-drawer {
  --size: 75%;
  --body-spacing: 0 20px;
  color: #000;
}

sl-drawer nav {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
}

sl-drawer nav a {
  text-decoration: none;
  color: var(--color-primary-dark);
  margin-bottom: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
  line-height: 1.5;
}

sl-drawer nav a sl-icon {
  font-size: 18px;
  margin-right: 4px;
}