.newsfeed .entry {
  margin: 8px 16px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--color-element-bg);
}

.newsfeed .header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.newsfeed .header .name {
  font-weight: 700;
}

.newsfeed .header .user-name {
  font-size: 14px;
  color: var(--color-gray);
  font-weight: 400;
}

.newsfeed .entry .avatar {
  width: 15%;
}

.newsfeed .entry .avatar img {
  border-radius: 50%;
  width: 100%;
}

.newsfeed .entry .content .text {
  margin: 0;
}