:root {
  --color-primary: #4da5a2;
  --color-primary-light: #63cdc9;
  --color-primary-dark: #377774;

  --color-gray: #aaaaaa;
  --color-gray-light: #d0d0d0;
  --color-gray-dark: #676767;

  --color-text: #000000;
  --color-element-bg: #fff;
  --color-main-bg: #eeeeee;

  --content-gap: 16px;
}

.dark-mode {
  --color-text: #fff;
  --color-element-bg: #303030;
  --color-main-bg: #141414;
}