@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import "./modules/variables.css";
@import "./modules/header.css";
@import "./modules/post.css";
@import "./modules/button.css";

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 430px;
  margin: 0 auto;
  background-color: var(--color-main-bg);
}

main {
  padding: 0 16px;
  margin-top: 54px;
}